<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerModeChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PowerModeChanger.Properties.Settings>
            <setting name="mode_Name_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mode_Name_2" serializeAs="String">
                <value />
            </setting>
            <setting name="mode_Name_3" serializeAs="String">
                <value />
            </setting>
            <setting name="mode_String_2" serializeAs="String">
                <value />
            </setting>
            <setting name="mode_String_3" serializeAs="String">
                <value />
            </setting>
            <setting name="mode_String_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sound_In_Mic1" serializeAs="String">
                <value>To set</value>
            </setting>
            <setting name="sound_In_Mic2" serializeAs="String">
                <value>It Up</value>
            </setting>
            <setting name="sound_out_headphones1" serializeAs="String">
                <value>Visit</value>
            </setting>
            <setting name="sound_out_headphones2" serializeAs="String">
                <value>Settings</value>
            </setting>
            <setting name="pingAdress" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="pingNumberOfPingsLimited" serializeAs="String">
                <value />
            </setting>
            <setting name="pingNumberOfPingsUnlimited" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_power1" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_power2" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_power3" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_powerupdate" serializeAs="String">
                <value />
            </setting>
            <setting name="StateAutoPowerModeUpdate" serializeAs="String">
                <value />
            </setting>
        </PowerModeChanger.Properties.Settings>
    </userSettings>
</configuration>
